apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: logging
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      tag kubernetes.*
      read_from_head true
      pos_file /var/log/fluentd-containers.log.pos
      <parse>
        @type cri
      </parse>
    </source>

    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>

    <match kubernetes.**>
      @type elasticsearch
      host {{ .Values.fluentd.elasticsearch.host }}
      port {{ .Values.fluentd.elasticsearch.port }}
      user {{ .Values.fluentd.elasticsearch.username }}
      password {{ .Values.fluentd.elasticsearch.password }}
      logstash_format true
      logstash_prefix {{ .Values.fluentd.elasticsearch.indexPrefix }}
      include_tag_key true
      type_name _doc

      <buffer>
        @type file
        path /var/log/fluentd-buffers/es
        flush_interval 5s
      </buffer>
    </match>
